# Usar comodines
*~
*.swp
*.bak
*.class
*.keep
*.keep.*
*.orig
*.unloaded
*.7zp
*.contrib
*.contrib.*
*.LOCAL
*.REMOTE
*.merge*
*.BASE*

**/target
**/classes
**/bin

**/.project
**/.classpath
**/.factorypath
**/.apt_generated
**/.settings
**/.myhibernatedata
**/.idea
**/.mymetadata
**/.mystrutsdata
**/.springBeans
**/npm-debug.log
**/dist
**/mockServer
**/ENV.properties
**/.metadata